@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@font-face {
  font-family: "Allenoire";
  src: local("Allenoire"), url("src/assets/fonts/allenoire.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #ffffdd;
  background: #e5685d; /* #e58d76; */
  font-family: Rubik, sans-serif;
}
