*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--body-color);
  background: var(--body-bg);
  font-family: var(--body-font);
  font-size: var(--size-default);
}
